4ed
4ed_app.so
custom_4coder.so
4ed.exe
4ed_app.dll
custom_4coder.dll
*.pdb

LICENSE.txt
README.txt
changes.txt
fonts
project.4coder
one_time

themes/*
!themes/theme-naysayer.4coder

custom/4coder_app_links_allocator.cpp
custom/4coder_async_tasks.cpp
custom/4coder_async_tasks.h
custom/4coder_auto_indent.cpp
custom/4coder_auto_indent.h
custom/4coder_base_commands.cpp
custom/4coder_base_types.cpp
custom/4coder_base_types.h
custom/4coder_buffer_seek_constructors.cpp
custom/4coder_build_commands.cpp
custom/4coder_build_commands.h
custom/4coder_cli_command.cpp
custom/4coder_clipboard.cpp
custom/4coder_clipboard.h
custom/4coder_code_index.cpp
custom/4coder_code_index.h
custom/4coder_code_index_listers.cpp
custom/4coder_codepoint_map.cpp
custom/4coder_combined_write_commands.cpp
custom/4coder_combined_write_commands.h
custom/4coder_command_map.cpp
custom/4coder_command_map.h
custom/4coder_config.cpp
custom/4coder_config_grammar.txt
custom/4coder_config.h
custom/4coder_custom.cpp
custom/4coder_default_colors.cpp
custom/4coder_default_colors.h
custom/4coder_default_framework.cpp
custom/4coder_default_framework.h
custom/4coder_default_framework_variables.cpp
custom/4coder_default_hooks.cpp
custom/4coder_default_include.cpp
custom/4coder_default_map.cpp
custom/4coder_delta_rule.cpp
custom/4coder_delta_rule.h
custom/4coder_doc_commands.cpp
custom/4coder_doc_content_types.cpp
custom/4coder_doc_content_types.h
custom/4coder_docs.cpp
custom/4coder_draw.cpp
custom/4coder_draw.h
custom/4coder_eol.cpp
custom/4coder_events.cpp
custom/4coder_events.h
custom/4coder_examples.cpp
custom/4coder_fancy.cpp
custom/4coder_file.cpp
custom/4coder_file.h
custom/4coder_file_moving.h
custom/4coder_font_helper.cpp
custom/4coder_function_list.cpp
custom/4coder_function_list.h
custom/4coder_hash_functions.cpp
custom/4coder_helper.cpp
custom/4coder_helper.h
custom/4coder_insertion.cpp
custom/4coder_insertion.h
custom/4coder_jumping.cpp
custom/4coder_jumping.h
custom/4coder_jump_lister.cpp
custom/4coder_jump_lister.h
custom/4coder_jump_sticky.cpp
custom/4coder_jump_sticky.h
custom/4coder_keyboard_macro.cpp
custom/4coder_layout.cpp
custom/4coder_layout_rule.cpp
custom/4coder_layout_rule.h
custom/4coder_lister_base.cpp
custom/4coder_lister_base.h
custom/4coder_lists.cpp
custom/4coder_log.cpp
custom/4coder_log_parser.cpp
custom/4coder_log_parser.h
custom/4coder_mac_map.cpp
custom/4coder_malloc_allocator.cpp
custom/4coder_metadata_generator.cpp
custom/4coder_miblo_numbers.cpp
custom/4coder_profile.cpp
custom/4coder_profile.h
custom/4coder_profile_inspect.cpp
custom/4coder_profile_inspect.h
custom/4coder_profile_static_disable.cpp
custom/4coder_profile_static_enable.cpp
custom/4coder_project_commands.cpp
custom/4coder_project_commands.h
custom/4coder_scope_commands.cpp
custom/4coder_scope_commands.h
custom/4coder_search.cpp
custom/4coder_search.h
custom/4coder_stringf.cpp
custom/4coder_string_match.cpp
custom/4coder_string_match.h
custom/4coder_system_allocator.cpp
custom/4coder_system_helpers.cpp
custom/4coder_system_types.h
custom/4coder_table.cpp
custom/4coder_table.h
custom/4coder_token.cpp
custom/4coder_token.h
custom/4coder_tutorial.cpp
custom/4coder_tutorial.h
custom/4coder_types.h
custom/4coder_version.h
custom/bin/
custom/custom_4coder.so*
custom/generated/
custom/languages/4coder_cpp_lexer_gen.cpp
custom/languages/4coder_cpp_lexer_test.cpp
custom/lexer_generator/
